{
    "credentials": {
        "username": "USERNAME",
        "password": "PASSWORD"
    },
    "location_explorer": {
        "max_place_count": 3,                   // optional
        "archive_size": 500,                    // optional
        "search_radius": 100,                   // optional
        "search_center": [<lat>, <lng>],        // optional
        "output_filename": "<path to file>.{0}.json",
        "origin": "<some location id>"
    },
    "http": {
        "max_retries": 4,
        "request_interval": 0.3,
        "timeout": 15
    }
}
